<html>
<head></head>
<body>
	<form class="formbox">
		<input type="text" class="username" placeholder="username"> </br>
		<input type="email" class="email" placeholder="email"> </br>
		<input type="password" class="password" placeholder="password"> </br>
		<input type="password" class="password" placeholder="confirm password"> </br>
		<input type="submit" class="submit" value="Log In"></br>
		<a href="login.html" class = "loginswap"> Already have an account </a>
	</form>
</body>
</html>